{% extends 'base_app.html.twig' %}

{% block title %}Comptes bancaires{% endblock %}

{% block actions %}
    {% if bank_accounts is not empty %}
        <twig:Button
            variant="primary"
            icon="tabler:plus"
            href="{{ path('app_bank_accounts_create') }}"
        >
            Ajouter un compte
        </twig:Button>
    {% endif %}
{% endblock %}

{% block content %}
    {% if bank_accounts is empty %}
        <div class="flex flex-col gap-3 items-center py-10">
            <twig:UX:Icon name="tabler:building-bank" class="size-10 text-gray-400" />
            <p class="text-center">
                <strong>Pas de compte bancaire.</strong><br>
                Ajoutez un compte pour commencer à suivre vos finances.
            </p>

            <twig:Button
                variant="primary"
                icon="tabler:plus"
                href="{{ path('app_bank_accounts_create') }}"
            >
                Ajouter un compte
            </twig:Button>
        </div>
    {% else %}
        <div class="bg-white shadow-lg rounded-lg border mt-2">
            <header class="p-4 flex items-center justify-between border-b bg-slate-100">
                <h2 class="text-lg/6 font-semibold text-gray-900">
                    {{ bank_accounts|length }} compte(s) bancaire.
                </h2>
            </header>
            <section>
                <ul role="list">
                    {% for bank_account in bank_accounts %}
                        <li class="flex justify-between gap-x-6 p-5">
                            <div class="flex min-w-0 gap-x-4">
                                <div class="min-w-0 flex-auto">
                                    <p class="text-sm/6 font-semibold text-gray-900">{{ bank_account.label }}</p>
                                    <p class="mt-1 truncate text-xs/5 text-gray-500">{{ bank_account.bankId.value }}</p>
                                </div>
                            </div>
                            <div class="shrink-0 sm:flex sm:flex-col sm:items-end">
                                <twig:Button
                                    href="{{ path('app_bank_accounts_transactions_home', {bankAccountId: bank_account.id}) }}"
                                    icon="tabler:chevron-right"
                                    iconOnly
                                    class="p-3 rounded-full"
                                >
                                </twig:Button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    {% endif %}

{% endblock %}
