<div{{ attributes }}>
    {% set transactions = this.transactions %}

    <twig:StackedList>
        <twig:block name="header">
            <twig:StackedList:Header>
                <twig:block name="left">
                    <twig:Button
                        icon="tabler:chevron-left"
                        iconOnly
                        class="square-5 shrink-0 text-gray-400"
                        data-action="live#action"
                        data-live-action-param="prevMonth"
                    />
                </twig:block>

                {{- currentMonth|format_datetime(pattern: 'MMMM YY') -}}

                <twig:block name="right">
                    <twig:Button
                        icon="tabler:chevron-right"
                        iconOnly
                        class="square-5 shrink-0 text-gray-400"
                        data-action="live#action"
                        data-live-action-param="nextMonth"
                    />
                </twig:block>
            </twig:StackedList:Header>
        </twig:block>

        {% if transactions is empty %}
            <div class="flex flex-col gap-3 items-center py-10">
                <twig:UX:Icon name="tabler:transaction-euro" class="size-10 text-gray-400" />
                <p class="text-center">
                    <strong>Pas de transactions bancaires.</strong><br>
                    Commencez par importer un fichier de transactions (CSV, ...).
                </p>
            </div>
        {% else %}
            <twig:StackedList:List>
                {% for transaction in transactions %}
                    <twig:StackedList:ListItem hoverable>
                        <div class="flex min-w-0 gap-x-4">
                            <twig:BankTransaction:CategoryAvatar category="{{ transaction.category }}" class="flex-none" />
                            <div class="min-w-0 flex-auto">
                                <p class="text-sm/6 font-semibold text-gray-900">{{ (transaction.amount.amount / 100)|format_currency(transaction.amount.currency, {grouping_used: true}) }}</p>
                                <p class="mt-1 truncate text-xs/5 text-gray-500">{{ transaction.label }}</p>
                            </div>
                        </div>
                        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                            <twig:BankTransaction:TypeBadge type="{{ transaction.type }}" />
                            <p class="mt-1 text-xs/5 text-gray-500"><time datetime="{{ transaction.date|date }}">{{ transaction.date|format_datetime(time_format: 'none') }}</time></p>
                        </div>
                    </twig:StackedList:ListItem>
                {% endfor %}
            </twig:StackedList:List>
        {% endif %}
    </twig:StackedList>
</div>
